# Project Background
This Python project seeks to crete a simplified user interface for interacting with AWS

**CRITICAL**
The first file that you read must be /cline_docs/pythonRules.md. **DO NOT** read any other file before reading /cline_docs/pythonRules.md


